<!DOCTYPE html>
<html>
    <head>
        <meta content="charset=utf-8" />
    </head>
    <body>
        <form method="POST" enctype="multipart/form-data" action="../src/index.php" style="text-align: center; min-height: 50%;">
            <div style="background-color: aquamarine; ">
                Usuario: <input type="text" name="user"  required><br>
                Password: <input type="password" name="pass" required><br>
                <input type="submit" value="Enviar">
            </div>
        </form>







    </body>
</html>